<!DOCTYPE html>
<!--
 # Thymeleaf
 - 서버 사이드 템플릿 엔진
 - 클라이언트가 동적으로 그리는 방식이 아닌, 서버가 모든 html 을 그려서 내려주는 방식
 - 서버에서 데이터들을 구해 미리 정의된 템플릿에 넣고, 서버에서 직접 html 을 그려서 클라이언트(브라우저)에게 전달한다.
 - spring 에서 밀어주는 템플릿 엔진! (spring 홈페이지에서 view 를 그려주는 부분에서 사용)
 - 실무 입장에선 자주 보이진 않을 수 있음 -> javascript framework (react, vue, angular)
 - HTML5 웹 표준을 준수하는 템플릿 (.html)
 - 전체적인 문법이 HTML5 마크업 표준을 최대한 해치지 않게끔 설계
 - 템플릿 문법을 아예 템플릿에서 분리 가능 (Decoupled logic)
    - 순수한 마크업만 남음 -> 템플릿 엔진이 작동하지 않아도 렌더링 되는 정적 목업 페이지
    - 디자이너가 이해하기 쉽다.

 - th: tag
 - data-th- attribute (사용자 정의)
 - decoupled logic

 - ${} - Variable Expressions
 - *{} - Selection Variable Expressions
 - #{} - Message Expressions
 - @{} - Link URL Expressions
 - ~{} - Fragment Expressions

 - Literals
 - Text literals : 'text'
 - Number literals : 0, 1, 2 ..
 - Boolean literals : true, false
 - Null literals : null
 - literals tokens : one, sometext, main ...

 - operations
 - String concat : +
 - literals substitutuibs : |the name is ${name}|
 - binary operators : +, -, *, /, %

 - conditional
 - if-then : (if) ? (then)
 - if-then-else : (if) ? (then) : (else)
 - default : (value) ?: (default value)
 - no operation : _ (템플릿 동작 x)
 -->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    login.html
</body>
</html>